:root {
    --theme-color: #034f84;
    /* --theme-color: #c94c4c; */
    --bg-1: #e7e7e7;
    --bg-2: #3e4444;
}

@font-face {
    font-family: Merriweather-BlackItalic;
    src: url(css/Merriweather-BlackItalic.ttf);
    font-family: Merriweather-Regular;
    src: url(css/Merriweather-Regular.ttf);

}

body {
    padding: 0;
    margin: 0 auto;
    font-size: 0.9em;
    font-family: 'Lato-Regular'sans-serif;
}

p {
    font-size: 0.7em;
    color: var(--bg-2);
    font-family: Merriweather-Regular;
}


a {
    color: #111111;
    text-decoration: none;
}

/* header */
.header-top {
    background-color: var(--bg-1);
    font-size: 0.93em;
}

.header-top li a {
    color: var(--theme-color);
    font-weight: 600;
}

.header-middle .firm-logo {
    padding-left: 10em;
}

.header-middle .firm-logo a {
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

.header-middle .firm-logo span {
    font-size: 0.8em;
}

.header-middle ul li {
    padding: 12px 20px;
}

.header-middle ul li a {
    font-size: 1.1em;
    padding-right: 20px;
    text-transform: uppercase;
    font-family: Merrriweather-BlackItalic;
    letter-spacing: 0.1em;
    font-weight: 500;
}

.slicknav_menu {
    display: none;
}

.hero-section {
    background-color: #111111;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../img/hero-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 508px;
    position: relative;
}

.hero-section .hero-contents {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    color: #fff;
}

.hero-contents h1 {
    text-transform: uppercase;
    font-size: 4em;
    padding-bottom: 20px;
}

.hero-contents p {
    padding: 20px 0;
    font-size: 1em;
    color: var(--bg-1);
    text-transform: uppercase;
    letter-spacing: 0.1em;

}

.hero-contents .btn {
    background-color: var(--theme-color);
    width: 300px;
    color: #fff;
    text-transform: uppercase;
}

@media screen and (max-width:992px) {
    .header-middle .firm-logo {
        padding-left: 4em;
    }

    .header-middle .firm-logo span {
        font-size: 0.6em;
    }

    .header-middle ul li a {
        font-size: 0.86em;
        text-transform: uppercase;
        font-family: Merrriweather-BlackItalic;
        letter-spacing: 0.1em;
        font-weight: 500;
    }
}

@media screen and (max-width:768px) {
    .header-middle .firm-logo {
        padding-left: 2em;
        padding-bottom: 5px;
    }

    .navbar {
        display: none;
    }

    .slicknav_menu {
        display: block;
        background: transparent !important;
        text-align: center;
        margin-top: -60px;

    }

    .slicknav_nav {
        background: #333;
    }

    .slicknav_nav ul {
        margin: 0;
        text-align: left;
    }

    .slicknav_nav a,
    .slicknav_nav .slicknav_row {
        margin: 0;
    }

    .slicknav_nav .dropdown a {
        padding-left: 25px;
    }



    .slicknav_btn {
        border-radius: 0;
        background-color: #e7ab3c;
        display: inline-block;
        right: -16px;
    }

    .slicknav_nav .slicknav_row,
    .slicknav_nav a {
        padding: 8px 15px;
    }

    .slicknav_nav a:hover {
        border-radius: 0;
        background: #e7ab3c;
        color: #fff;
    }

    .slicknav_nav .slicknav_row:hover {
        border-radius: 0;
        background: #e7ab3c;
        color: #fff;
    }
}