:root {
  --theme-color: #123C69;
  /* --theme-color: #c94c4c; */
  /* --theme-color: #034f84; */
  /* --theme-color: rgb(41, 55, 69); */
  --bg-1: #e7e7e7;
  --bg-2: #3e4444;

}

@font-face {
  font-family: Merriweather-BlackItalic;
  src: url(../fonts/Merriweather-BlackItalic.ttf);
  font-family: Merriweather-Regular;
  src: url(../fonts/Merriweather-Regular.ttf);

  font-family: Lato-Regular;
  src: url(../fonts/Lato-Regular.ttf);
  font-family: Lato-Bold;
  src: url(../fonts/Lato-Bold.ttf);
  font-family: Lato-Black;
  src: url(../fonts/Lato-Black.ttf);

  font-family: OpenSans-Light;
  src: url(../fonts/OpenSans-Light.ttf);
  font-family: OpenSans-Regular;
  src: url(../fonts/OpenSans-Regular.ttf);
  font-family: OpenSans-SemiBold;
  src: url(../fonts/OpenSans-SemiBold.ttf);
}

body {
  padding: 0;
  margin: 0 auto;
  font-size: 1em;
  font-family: Lato-Regular;
}

p {
  font-size: 0.9em;
  color: var(--bg-2);
  font-family: OpenSans-SemiBold;
}

a {
  color: #111111;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Merriweather-Regular;
}


.btn {
  margin-bottom: 2em;
  border-radius: 3em;
  padding: 0.4em 1em;
  background-color: var(--theme-color);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-family: OpenSans-SemiBold;
  font-size: 0.9em;
}

.btn:hover {
  background-color: #fff;
  border: 2px solid var(--theme-color);
  color: var(--theme-color);
  transition: 0.5s ease;
}

/* header style */
.header {
  /* position: fixed; */
  position: sticky;
  /* Fixed position - sit on top of the page */
  top: 0;
  bottom: 0;
  width: 100%;
  /* Full width */
  transition: 0.2s;
  /* Add a transition effect (when scrolling - and font size is decreased) */
  z-index: 999;
}


.header-top {
  background-color: var(--bg-1);
  font-size: 0.93em;
  z-index: 200
}

.header-top li a {
  color: var(--theme-color);
  font-family: OpenSans-SemiBold;
}

.header-middle .site-brand {
  padding-top: 1em;
  padding-left: 4em;

}

.site-brand .site-title {
  text-transform: uppercase;
  min-width: 135px;
  max-width: 135px;
  width: 100%;
  letter-spacing: 3px;
  font-size: 1.4em;
}

.navbar {
  display: block;
}

.header-middle {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .1);
  background-color: #fff;
}

.header-middle ul li {
  padding: 20px 20px;
  list-style: none;
  display: block;
}

.header-middle ul li a {
  font-size: 1em;
  text-transform: uppercase;
  font-family: OpenSans-SemiBold;
  letter-spacing: 0.1em;
  line-height: 2em;
}

.slicknav_menu {
  display: none;
}

.navbar ul ul {
  display: none;
  position: absolute;
  top: 4em;
  left: 0;
  z-index: 99999;
  width: 250px;
  background: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation-name: border;
  animation-duration: 5s;
}

/* @keyframes border {
  0% {
    left: 0;
  }

  25% {
    left: 25%;
    border: 1px solid var(--theme-color);
  }
} */

.navbar ul ul li {
  padding: 1em 0;
  margin: 0 3em 0 0;
  font-size: 0.9em;
  text-align: left;
}

.navbar li {
  position: relative;
}

.navbar ul li:hover>ul {
  display: block;
  transition: 1s ease-in-out;
}

.dropdown-icon .fa {
  font-size: 1.2em;
  padding-left: 0.4em;
  font-weight: 600;
}


/* hero section/landing page */

.hero-section .hero-contents {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.9);
}

.hero-contents h2 {
  text-transform: uppercase;
  font-size: 3em;
  padding-bottom: 20px;
}

.hero-contents p {
  padding: 20px 0;
  color: var(--bg-1);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}


.hero-contents .btn {
  width: 200px;
  height: 40px;
  line-height: 25px;
}

.hero-section .banner-image img {
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}

/* about section of index page */
.about-us {
  margin: -20px 5em 5em;
}

.about-us .about_section_image {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  max-height: 450px;
  min-height: 200px;
  min-width: 200px;
  height: 100%;
  width: 100%;
}

.about_section_thumbnail {
  position: relative;
}

.about_section_thumbnail:before {
  content: "";
  border: 10px solid var(--theme-color);
  position: absolute;
  top: 40px;
  right: -30px;
  bottom: -30px;
  left: 40px;
  z-index: -1;
}

.about-us .about-content {

  margin-top: 4em;
  padding-left: 5em;
}

.about-us h3 {
  text-transform: uppercase;
  margin: 3em 3em 1em 3em;
  padding-bottom: 5px;
  position: relative;
}

.about-us h3::after {
  position: absolute;
  content: "";
  top: 0;
  left: 45%;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid var(--theme-color);
  width: 90px;
}


/* Recent Posts */


#homepage_blog .section_heading {
  text-transform: uppercase;
  margin-bottom: 2em;
  padding-bottom: 5px;
  position: relative;
}

.section_heading::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid var(--theme-color);
  top: 0;
  left: 45%;
  right: 0;
  bottom: 0;
  width: 100px;
}

#homepage_blog {
  position: relative;
  padding: 1em 0em 4em;
  margin-top: 7em;
}

#homepage_blog .card {
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
}

.card {
  border: 0 !important;
}

.card .card-footer {
  background-color: transparent !important;
}

.card .card-body img {
  width: 280px;
  height: 300px;
}



.post_title {
  /* text-transform: uppercase; */
  font-family: OpenSans-SemiBold;
  font-size: 20px;
}

.post_title a:hover {
  text-decoration: none;
  color: var(--theme-color);
}

.posted_details {
  font-family: 0.6em;
}

.posted_details span {
  color: var(--theme-color);
  font-weight: 600;
  font-size: 1em;
}

.content {
  letter-spacing: 15;
  font-family: Lato-Bold;
  font-size: 1em;
}

.cat a,
.cat {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  text-transform: uppercase;
  font-family: Merriweather-BlackItalic;
}

.cat a:hover {
  color: var(--theme-color);
}

/* Areas of Practice of homepage */
.areas_of_practice {
  padding: 3em 2em;
  background-color: #222225;
  color: #fff;
}

.areas_of_practice h5 {
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1.6px;
  padding-top: 1em;
}

.areas_of_practice p {
  color: #ddd;
  text-align: center;
  padding-top: 2em;
}

.practice_area_img {
  max-width: 360px;
  max-height: 400px;
  min-height: 200px;
  min-width: 200px;
  height: 100%;
  width: 100%;
}

.areas_of_practice .area_section {
  padding-top: 2em;
}

.area_section .icon {
  font-size: 2.5em;
  text-align: center;
  color: #fff;
}

.area_section .fa {
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.5em;
  border-radius: 50%;
}

.area_section .service-body a {
  color: #fff;
  font-family: OpenSans-SemiBold;
  font-size: 0.9em;
}

.area_section .service-body a:hover {
  color: var(--theme-color);
}

.area_section .service-body {
  padding-top: 1em;
  padding-bottom: 3em;
}

.area_section .readmore {
  background-color: var(--theme-color);
  color: #fff;
  margin-top: 1em;
  padding: 10px 20px;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
}

.area_section .readmore:hover {
  color: var(--theme-color);
  background-color: #fff;
  border: 1px solid var(--theme-color);
  border-radius: 20px;
  transition: 0.3s ease-in-out;
}

/* About Page */

.about_banner {
  width: 100%;
  height: 400px;
  position: relative;
}

.about-contents {
  position: absolute;
  top: 150px;
  left: 0;
  right: 0;
  bottom: 0;
}

.about-contents h2 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.9);
}

.about-contents .btn {
  padding: .5em 1.6em;
}

.about-contents a {
  color: #fff;
  background-color: var(--theme-color);
  text-transform: uppercase;
}

.team-heading {
  margin-top: 6em;
}

.tmm {
  margin-top: 3em !important;
}

.about-us h5 {
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.7em;
}

.about-us h5::after {
  position: absolute;
  content: "";
  top: 0;
  left: 47%;
  right: 0;
  bottom: 0;
  text-align: center;
  border-bottom: 2px solid var(--theme-color);
  width: 70px;
}

/* Service Page */

.service-banner,
.team-banner {
  max-width: 100%;
  width: 100%;
  height: 450px;
}

.service-banner .banner-content,
.team-banner .banner-content {
  position: absolute;
  top: 170px;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.service_banner_arrow,
.team_banner_arrow {
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 5em;
}

.service_banner_arrow .fa,
.team_banner_arrow .fa {
  position: relative;
  animation-name: bounceArrow;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}



@keyframes bounceArrow {
  0% {
    top: 0px;

  }

  50% {
    top: 20px;
  }


  100% {
    top: 0px;
  }
}



/* Contact Page */

.contact {
  margin-top: 5em;
}

.contact .card {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.08);
}

.contact .card-body span {
  font-size: 1em;
  font-weight: 600;
}

.contact_form {
  margin-top: 7em;
  padding: 1em;

}

.contact_form h4 {
  position: relative;
  padding-bottom: 0.6em;
  margin-bottom: 1.1em;

}


.contact_form h4::after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid var(--theme-color);
  width: 120px;
}

.contact iframe {
  min-width: 300px;
  height: 450px;
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 450px;
}

.wpcf7 {
  padding-top: 1em;
}

.wpcf7 label {
  font-family: Merriweather-Regular;
  letter-spacing: 0.8px;
  color: #495057;
}

.wpcf7-form-control-wrap input {
  height: calc(1.5em + 0.75rem + 2px);
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid #ced4da;
  width: 200%;
}

.wpcf7-submit {
  background-color: var(--theme-color);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  font-weight: 600;
  font-size: 1em;
  padding: 10px 50px;
  border-radius: 1em;
  letter-spacing: 2px;
}

/* Widget Area */


.sidebar {
  padding-left: 2em;
}

.sidebar .widget {
  margin: 2em 0;
  padding: 1.3em 0;
  border-bottom: 1px solid #ccc;
}

.widget ul {
  list-style: none;
  color: var(--theme-color);

}

.sidebar ul li {
  margin-left: -25px;
}

.widget ul li .fa {
  font-weight: 600;
  padding-right: 5px;
}

.widget a {
  font-size: 0.8em;
  font-family: OpenSans-SemiBold;
  letter-spacing: 0.08em;
}

.widget span {
  color: var(--theme-color);
  font-size: 0.9em;
  font-weight: 600;
}



.widget-title {
  color: var(--theme-color);
  font-weight: 600;
  font-size: 0.9em;
  font-family: Merriweather-BlackItalic;
  text-transform: uppercase;
}

/* footer style */

.footer {
  margin-top: 3em;
  background-color: #222225;
}

.footer .widgets,
.footer .widget {
  color: rgba(255, 255, 255, 0.9);
  padding-top: 5em;
  margin-bottom: 4em;
}

.footer .widgets h5,
.footer .widget h5 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1em;
  padding-bottom: 1em;
  letter-spacing: 0.1em;
}

.footer .list-group .list-group-item {
  border: 0 !important;
  background-color: transparent;
  text-decoration: none;
  text-align: left;
  padding-left: 0 !important;
  font-family: Merriweather-Regular;
  letter-spacing: 0.07em;
  font-weight: 100;
  font-size: 0.9em;

}

.footer .footer_menu ul {
  color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
}

.footer_menu ul li {
  padding-bottom: 1em;
}

.footer_menu li a {
  color: rgba(255, 255, 255, 0.9);
  letter-spacing: 0.07em;
  font-weight: 100;
  font-size: 0.96em;
  padding-left: 1em;

  font-family: Merriweather-Regular;
}

.footer_menu a:hover {
  color: var(--theme-color);
  text-decoration: none;
}

.footer-bottom {
  color: var(--bg-1);
  font-size: 0.8em;
  margin-top: 3em;
  letter-spacing: 0.1em;
}

.footer-bottom a {
  color: var(--bg-1);
  font-style: italic;
}

.footer-bottom a:hover {
  color: var(--theme-color);
  font-weight: 600;
}

/* Search Page */
.search {
  background-color: var(--bg-2);
  height: 320px;
  text-align: center;
  margin-bottom: 2em;

}



.search-header .page-title {
  padding-top: 5%;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1em;
  font-size: 2em;
}

.search-header .page-title span {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 1em;
}

/* ================== Sidebar ===================== */

/* search  */

#searchform>div>label {
  font-family: Merriweather-BlackItalic !important;
  font-weight: 600;
}

#s {
  border-radius: 10px;
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
  padding: 0 1em;
  max-width: 200px;
  min-width: 60px;
  width: 100%
}

#searchsubmit {
  background-color: transparent;
  color: var(--theme-color);
  border-radius: 2em;
  text-transform: uppercase;
  border: 2px solid var(--theme-color);
  padding: 0.4em 1em;
  font-weight: 600;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}

#searchsubmit:hover {
  background-color: var(--theme-color);
  color: #fff;
  transition: 0.4s ease-in-out;
  border: 2px solid #fff;
}


.search-header #searchform>div>label {
  display: none;
}

.search-header #s {
  max-width: 100%;
  min-width: 10%;
  width: 50%;
  padding: 1em 3em;
  border-radius: 2em;
  border: 1px solid #ccc;
  margin-bottom: 0.5em;
}

.search-header #s:active {
  border-radius: 2em;
  border: 1px solid #ccc;

}

.search-header #searchsubmit {
  display: none;
}

/* Blog Pagination */
.latest_posts {
  margin-top: 3em;
}

.paging-navigation .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.paging-navigation .nav-links a {
  font-size: 1em;
  font-weight: 600;
  font-family: Merriweather-Regular;
}

.paging-navigation .meta-nav {
  font-size: 1em;
  padding-right: 0.5em;
}

/* Search Pagination */


.navigation {
  text-align: center;
  margin-top: 3em;
  margin-left: 1.5em;
  background-color: rgba(0, 0, 0, 0.07);
  padding: 1em;
}

.navigation h2 {
  font-size: 1em;
  color: var(--theme-color);
  font-family: OpenSans-SemiBold;
  position: relative;
  margin-top: 0.2em;
}

.navigation h2::after {
  content: " :";
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  font-weight: 600;
  display: inline;
}

.navigation .nav-links {
  margin-left: 1em;
  font-family: OpenSans-SemiBold;
}

.navigation .nav-links a:hover {
  color: var(--theme-color);
}

.navigation .nav-links .prev,
.navigation .nav-links .next {
  color: var(--theme-color);
}

.navigation .nav-links .page-numbers {
  position: relative;
  padding: 0 0.4em;
}

.navigation .nav-links .page-numbers::after {
  content: " |";
  position: absolute;
  top: 0;
  left: 100%;
  right: 0;
  bottom: 0;
  font-weight: 600;
  display: inline;
}

/* Related Posts */

.related_posts {
  margin: 3em 0;
}

.related_posts h5 {
  margin-bottom: 3em;
  position: relative;
  padding-bottom: 0.5em;

}

.related_posts h5:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid var(--theme-color);
  width: 70px;
}

.related-content {
  display: flex;
  justify-content: space-between;
}

.related-content .card {

  color: #000 !important;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.7);
}

.relatedcontent a {
  color: #000 !important;
}

.related-content .card:hover {

  box-shadow: 0px 4px 8px var(--theme-color);
  transition: .3s ease-in-out;

}

/* Comments */

#comments {
  padding: 5em 0 0;
  font-family: OpenSans-SemiBold;
}



#comments h4 {
  font-size: 1.3em;
  padding-bottom: 10px;
  position: relative;
  margin-bottom: 2em;

}

#comments h4:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid var(--theme-color);
  width: 100px;
}



#comments ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

#comments ol li {
  background: rgba(0, 0, 0, 0.02);
  padding: 10px 20px;
  margin: 10px 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.03);

}

#comments ol li ol.chilren {
  padding: 0;
  list-style: none;
  font-size: 0.96em;
}

#leave-comment {
  margin: 40px 0 0;
  padding: 20px 0 0;
  border-top: solid 1px #eee;
}

#comments footer {
  background: none;
  color: inherit;
}

#comments footer a {
  color: inherit;
}

#comments .comment-metadata {
  margin: 20px 0 0;
}

.comment-metadata time {
  color: var(--theme-color);
}

.comment-metadata .edit-link {
  font-size: 0.8em;
}

.comment-meta .avatar {
  width: 40px;
  height: 40px;
}

.comment-content {
  padding: 20px 0;
}

.comment-author .fn {
  padding-left: 1em;
}

.comment-author.vcard>span {
  font-size: 0.8em;
}

#respond {
  margin: 2em 0;
}

#respond #reply-title {
  font-size: 1.3em;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 2em;
}

#respond #reply-title:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px solid var(--theme-color);
  width: 70px;
}

.comment-form-comment label {
  display: flex;
}

.comment-form-comment #comment {
  width: 100%;
}

.form-submit #submit {
  background-color: var(--theme-color);
  padding: 10px 20px;
  color: #fff;
  border: none;
}

/* ===========================media screen====================================== */

@media screen and (max-width: 992px) {
  .site-brand {
    padding-left: 0 !important;
  }


  .navbar {
    display: none;
  }

  .slicknav_menu {
    display: block;
    background: transparent !important;
    text-align: center;
    margin-top: -50px;

  }

  .slicknav_menu .slicknav_menutxt {
    display: none;
  }

  .slicknav_menu .slicknav_icon {
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }

  .slicknav_menu .slicknav_icon .slicknav_icon-bar {
    position: absolute;
    opacity: 1;
    left: 0;
    height: .25em;
    background-color: var(--theme-color);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;

  }


  #mobile-menu-wrap>div>a>span.slicknav_icon>span:nth-child(1) {
    width: 3em;
    top: 0px;
  }

  #mobile-menu-wrap>div>a>span.slicknav_icon>span:nth-child(2) {
    width: 2em;
    top: 8px;
  }

  #mobile-menu-wrap>div>a>span.slicknav_icon>span:nth-child(3) {
    width: 1em;
    top: 18px;
  }

  #mobile-menu-wrap>div>a>span.slicknav_icon.open span:nth-child(1) {
    width: 2em;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
  }


  #mobile-menu-wrap>div>a>span.slicknav_icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
  }

  #mobile-menu-wrap>div>a>span.slicknav_icon.open span:nth-child(3) {
    width: 2em;
    top: 7px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .slicknav_nav {
    background: #333;
  }

  .slicknav_nav ul {
    margin: 0;
    text-align: left;
    display: flex;
    flex-direction: column;

  }



  .slicknav_nav a,
  .slicknav_nav .slicknav_row {
    margin: 0;
  }


  .slicknav_nav .dropdown a {
    padding-left: 25px;
  }

  .slicknav_btn {
    border-radius: 0;
    background-color: transparent;
    display: inline-block;
    right: 2em;
    bottom: 1em;
  }

  .slicknav_nav .slicknav_row,
  .slicknav_nav a {
    padding: 8px 15px;
  }

  .dropdown-icon .fa {
    display: none;
  }

  .about_section_thumbnail:before {
    content: "";
    border: 10px solid var(--theme-color);
    top: 40px;
    right: -50px;
    bottom: -40px;
    left: 40px;
    position: absolute;
    z-index: -1;
  }

  .contact iframe {
    padding-top: 2em;
  }

  .section_heading::after {
    left: 43%;
  }

  .about-us h3::after {
    left: 43%;
  }

  .about-us h5:after {
    left: 44%;
  }

  .widget {
    padding: 0em 0em 1em;
  }

  #search-2 {
    display: none;
  }
}


@media screen and (max-width: 768px) {

  .hero-contents h2 {
    text-transform: uppercase;
    font-size: 2.3em;
    padding-bottom: 20px;
  }

  .hero-contents p {
    font-size: 0.9em;
  }

  .header-middle .site-title {
    font-size: 1.4em;
  }

  .about-us {
    margin: -20px 2em 5em 0;
  }

  .about-us .about-content {
    margin-left: -3em;
    margin-top: 4em;
    text-align: center;
  }



  .about_section_thumbnail:before {
    content: "";
    border: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
  }

  .wpcf7-form-control-wrap input,
  .wpcf7-form-control-wrap textarea {
    padding: 0.5em 0.5em;
    border-radius: 4px;
    border: 1px solid #ced4da;
    width: 150%;
  }

  .section_heading::after {
    left: 43%;
  }

  .about-us h3::after {
    left: 40%;
  }

  .about-us h5:after {
    left: 40%;
  }

  .practice_area_img {
    display: none;
  }

}

@media only screen and (max-width: 575px) {
  .site-brand .site-title {
    font-size: 1.3em;
  }

  .hero-contents h2 {
    text-transform: uppercase;
    font-size: 2em;
    padding-bottom: 20px;
  }

  .hero-contents p {
    font-size: 0.8em;
  }

  .areas_of_practice {
    margin: 10em 0em 3em 0em;
    padding: 3em 1em;
    background-color: #222225;
    color: #fff;
  }

  .about-us {
    margin: -20px 3em 5em;
  }


  .about-us .about-content {
    margin-left: -5em;
    margin-top: 4em;
  }

  .about_section_thumbnail:before {
    content: "";
    border: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
  }

  .about-us h3,
    {
    font-size: 1.5em;
  }

  .about-us h3::after {
    left: 40%;
    width: 20%;
  }


  .wpcf7-form-control-wrap input,
  .wpcf7-form-control-wrap textarea {
    padding: 0.5em 1em;
    border-radius: 4px;
    border: 1px solid #ced4da;
    width: 100%;
    min-width: 50%;
    max-width: 100%;
  }

  .footer {
    padding-left: 2em;
  }
}

@media only screen and (max-width: 411px) {

  .site-brand {
    padding-left: 0 !important;
  }

  .site-title {
    font-size: 1em !important;
  }

  .slicknav_menu .slicknav_menutxt {
    font-size: 0.9em;
  }

  .slicknav_btn {
    right: 0;
  }

  .hero-contents p {
    padding: 0 10px;
  }

  .hero-contents .btn {
    background-color: var(--theme-color);
    width: 140px;
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
  }
}